.traffic-light {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin: 30px auto;
}

.red {
    background: red;
}

.yellow {
    background: yellow;
}

.green {
    background: green;
}

.active-traffic-light {
    box-shadow: 0px 0px 50px 50px rgb(240, 243, 212);
    opacity: 100%;
    

}

.trafficLightBG {
    background: black;
    margin:  auto;
    width: 250px;
    height: 800px;
    padding-top: 50px;
    margin-bottom: 50px;
    border-radius: 50px;

}

.trafficLightTop {
    background: black;
    width: 10px;
    height: 100px;
    margin: 0 auto;
    
}

.btn {
    
    position: absolute;
    top:50%;
    left: 50px;

}